:root {
  --main-text-color: #000000;
  --secondary-text-color: #ffffff;
  --background-blue: rgb(7, 90, 174);
  --logo-accent: #d3e52f;
  --button-hover-color: #067ae0;
  --offers-decorate-line: rgba(255, 255, 255, 0.47);
  --section-background-color: #f3f8fb;
  --footer-background-color: #075aaf;
  --card-button-hover: #f5f5f5;
  --accent-color: #2196f3;
  --primary-btn-hover-color: #188ce8;
  --background-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --button-background-color: #f5f4fa;
  --gallery-border-color: #eeeeee;
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --social-color: #afb1b8;
  --footer-social: rgba(255, 255, 255, 0.1);
  --specialization-bkg: rgba(47, 48, 58, 0.8);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --galery-overlay: rgba(33, 150, 243, 0.9);
  --modal-form-border-color: rgba(33, 33, 33, 0.2);
  --input-border-active-color: rgba(33, 150, 243, 1);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* yeseva-one-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/yeseva-one-v20-latin_cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/yeseva-one-v20-latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/yeseva-one-v20-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/yeseva-one-v20-latin_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/yeseva-one-v20-latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../fonts/yeseva-one-v20-latin_cyrillic-ext_cyrillic-regular.svg#YesevaOne") format("svg"); /* Legacy iOS */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v24-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v24-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v24-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v24-latin_cyrillic-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
body {
  color: var(--main-text-color);
  background-color: var(--background-color);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list, .services, .team, .offers, .menu, .social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link, .menu__link, .logo, .button-link {
  display: inline-block;
  text-decoration: none;
  padding: 15px 0;
  color: inherit;
  margin: 0;
}

.container, .header__container {
  padding: 0 15px;
  margin: 0 auto;
  width: 480px;
}
@media screen and (max-width: 480px) {
  .container, .header__container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container, .header__container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container, .header__container {
    width: 1200px;
  }
}

.section {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: var(--background-color);
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-text {
  color: var(--main-text-color);
  margin-bottom: 45px;
}
@media screen and (min-width: 1200px) {
  .section-text {
    margin-bottom: 45px;
  }
}

.section-text--white {
  color: var(--secondary-text-color);
}

.section-title {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--primary-text-color);
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: setLineHeight(42px, 36px);
    margin-bottom: 45px;
  }
}

.gallery_item {
  width: 100%;
  height: 600px;
}

@-webkit-keyframes socialAnimation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes socialAnimation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.button-link {
  padding: 15px 10px;
  min-width: 160px;
  min-height: 50px;
  background-color: var(--background-blue);
  color: var(--secondary-text-color);
  text-align: center;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.button-link + .button-link {
  margin-left: 10px;
}
.button-link:hover, .button-link:focus {
  background-color: var(--button-hover-color);
  color: var(--secondary-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-link--white {
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  padding: 16px 0;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
    padding: 14px 0;
  }
}

.logo--footer {
  color: var(--secondary-text-color);
  font-size: 22px;
  padding: 0;
}
.logo__wrap {
  margin-left: 5px;
}
@media screen and (min-width: 768px) {
  .logo__wrap {
    margin-left: 10px;
  }
}
.logo__text--accent {
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.header__logo {
  color: var(--secondary-text-color);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 60px;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--social-color);
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.social__link:hover, .social__link:focus {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

.social__icon--viber {
  fill: #7360f2;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.social__link:hover .social__icon--viber {
  fill: white;
}

.social__icon--telegram {
  fill: #229ed9;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.social__link:hover .social__icon--telegram {
  fill: white;
}

.social__icon--whatsapp {
  fill: #28d146;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.social__link:hover .social__icon--whatsapp {
  fill: white;
}

.social__icon--messenger {
  fill: #a334fa;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.social__link:hover .social__icon--messenger {
  fill: white;
}

.footer__social-list {
  padding: 0;
}

.button-link--tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  margin-bottom: 20px;
}

.button-link__icon {
  fill: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid #ececec;
  background-color: var(--background-color);
  height: 90px;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .header {
    height: 90px;
  }
}
.header__container {
  position: relative;
  background-color: var(--background-color);
}
@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__overlay {
  z-index: 20;
  background-color: var(--background-color);
}
@media screen and (max-width: 767px) {
  .header__overlay {
    position: relative;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100vw;
  }
}
@media screen and (min-width: 768px) {
  .header__overlay {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .header__overlay > .container, .header__overlay > .header__container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .menu--container {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background-color: var(--background-color);
    padding: 0 15px;
    width: 100%;
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
    -webkit-transition: -webkit-transform 500ms var(--timing-function);
    transition: -webkit-transform 500ms var(--timing-function);
    transition: transform 500ms var(--timing-function);
    transition: transform 500ms var(--timing-function), -webkit-transform 500ms var(--timing-function);
  }
  .menu--container.is-open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 63px;
  }
}

@media screen and (max-width: 767px) {
  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    border-bottom: 1px solid #ececec;
    border-bottom-width: 80%;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .menu__item {
    position: relative;
    margin-left: 20px;
  }
  .menu__item:first-child {
    margin-left: 0;
  }
}

.menu__link {
  color: var(--primary-text-color);
  padding: 32px 0;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.menu--container.is-open .menu__link {
  display: block;
  width: 100%;
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
}
.hamburger {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 30;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.hamburger:hover, .hamburger:focus {
  color: var(--accent-color);
}
.hamburger .hamburger__icon-close {
  opacity: 0;
}
.hamburger.is-open .hamburger__icon-menu {
  opacity: 0;
}
.hamburger.is-open .hamburger__icon-close {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger__icon {
  fill: currentColor;
}

.hamburger__icon-close {
  opacity: 0;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.hamburger__icon-menu {
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.hero {
  padding-top: 40px;
  padding-bottom: 40px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  background-color: var(--footer-background-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 140px;
    padding-bottom: 140px;
    height: 600px;
    max-width: 1600px;
  }
}

.hero-title {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2333333333;
  color: var(--secondary-text-color);
  text-align: left;
}

.hero--main {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/hero-main/hero-main-480x400-min.jpg);
  background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/hero-main/hero-main-480x400-min.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero--main {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/hero-main/hero-main-960x800-min.jpg);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/hero-main/hero-main-960x800-min.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero--main {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/hero-main/hero-main-768x400-min.jpg);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/hero-main/hero-main-768x400-min.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero--main {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/hero-main/hero-main-1536x800-min.jpg);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/hero-main/hero-main-1536x800-min.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero--main {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/hero-main/hero-main-1600x600-min.jpg);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/hero-main/hero-main-1600x600-min.jpg);
  }
}

.container--hero-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.buttons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  .offers {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: calc((100% - 40px) / 3);
        flex-basis: calc((100% - 40px) / 3);
  }
}

.offers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 40px;
  background-color: var(--background-blue);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.offers__header {
  position: relative;
  font-size: 25px;
  line-height: 1;
  font-weight: 400;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
  padding-top: 30px;
}
.offers__header::before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  display: block;
  width: 50px;
  height: 1px;
  background-color: var(--offers-decorate-line);
}
@media screen and (min-width: 768px) {
  .offers__header {
    max-width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .offers__header {
    width: 300px;
  }
}

.button-link--offers {
  border-style: solid;
  border-width: 1px;
  border-color: var(--secondary-text-color);
  color: var(--secondary-text-color);
  margin-top: 30px;
}

.section--responses {
  max-width: 480px;
  height: 118vw;
  min-height: 470px;
  margin: 0 auto;
}

.response {
  position: relative;
}

.container--responses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.response__text-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(7, 90, 174, 0.5)), to(rgba(7, 90, 174, 0.8)));
  background-image: linear-gradient(180deg, rgba(7, 90, 174, 0.5) 5%, rgba(7, 90, 174, 0.8));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.response__text-wrap > .backdrop {
  padding: 20px 15px;
}

.response__naw-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 30px;
  font-weight: 200;
  color: var(--secondary-text-color);
  padding-left: 5px;
  padding-right: 5px;
}

.section-title--responses {
  color: var(--main-text-color);
  text-align: left;
  margin-bottom: 40px;
}

.responses-text {
  font-size: 16px;
  line-height: 1.5625;
  color: var(--secondary-text-color);
}

.section-text--responses {
  position: relative;
  color: var(--secondary-text-color);
  padding-top: 30px;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 12.7px;
  line-height: 1;
}
.section-text--responses::before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  display: block;
  width: 50px;
  height: 1px;
  background-color: var(--offers-decorate-line);
}

.section--examples {
  margin-top: 45px;
  background-color: var(--section-background-color);
}

.section-title--examples {
  text-align: left;
}

.button-link--examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 300px;
}

.examples-img {
  width: 100vw;
}

.image-link {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0%;
}

.button-link__icon-table {
  stroke: white;
  margin-right: 10px;
}

.hero--about {
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/about/hero-about/hero-about-480x180.webp);
  background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/about/hero-about/hero-about-480x180.webp);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero--about {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/about/hero-about/hero-about-960x360.webp);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/about/hero-about/hero-about-960x360.webp);
  }
}
@media screen and (min-width: 481px) {
  .hero--about {
    height: 280px;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/about/hero-about/hero-about-768x280.webp);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/about/hero-about/hero-about-768x280.webp);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero--about {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/about/hero-about/hero-about-1536x560.webp);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/about/hero-about/hero-about-1536x560.webp);
  }
}
@media screen and (min-width: 769px) {
  .hero--about {
    height: 400px;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/about/hero-about/hero-about-1600x400.webp);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/about/hero-about/hero-about-1600x400.webp);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero--about {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/about/hero-about/hero-about-3200x800.webp);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/about/hero-about/hero-about-3200x800.webp);
  }
}

.section-text--team {
  margin: 0;
}

.section--team {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: var(--section-background-color);
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}

.team__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--background-color);
  z-index: 1;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.team__item[data-card-active=inactive] > .team__card-button::before {
  content: "\f142";
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.team__item[data-card-active=active] > .team__card-button::before {
  content: "\f00d";
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.team__item[data-card-active=inactive]::after {
  opacity: 0.6;
  -webkit-transform: translate3d(10px, 10px, 0);
          transform: translate3d(10px, 10px, 0);
}
.team__item[data-card-active=active]::after {
  opacity: 1;
  -webkit-transform: translate3d(16px, 40px, 0);
          transform: translate3d(16px, 40px, 0);
}
.team__item[data-card-active=active] > .team__social {
  height: 40px;
  visibility: visible;
}
.team__item[data-card-active=inactive] > .team__social {
  height: 0px;
  visibility: hidden;
}
.team__item[data-card-active=active] > .team__social > .team__social-link:nth-child(1) {
  -webkit-animation: socialAnimation 150ms linear 650ms 1 normal forwards running;
          animation: socialAnimation 150ms linear 650ms 1 normal forwards running;
}
.team__item[data-card-active=inactive] > .team__social > .team__social-link:nth-child(1) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.team__item[data-card-active=active] > .team__social > .team__social-link:nth-child(2) {
  -webkit-animation: socialAnimation 150ms linear 500ms 1 normal forwards running;
          animation: socialAnimation 150ms linear 500ms 1 normal forwards running;
}
.team__item[data-card-active=inactive] > .team__social > .team__social-link:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.team__item[data-card-active=active] > .team__social > .team__social-link:nth-child(3) {
  -webkit-animation: socialAnimation 150ms linear 350ms 1 normal forwards running;
          animation: socialAnimation 150ms linear 350ms 1 normal forwards running;
}
.team__item[data-card-active=inactive] > .team__social > .team__social-link:nth-child(3) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.team__item[data-card-active=active] > .team__social > .team__social-link:nth-child(4) {
  -webkit-animation: socialAnimation 150ms linear 200ms 1 normal forwards running;
          animation: socialAnimation 150ms linear 200ms 1 normal forwards running;
}
.team__item[data-card-active=inactive] > .team__social > .team__social-link:nth-child(4) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.team__item::after {
  background-color: var(--button-hover-color);
  content: "";
  display: block;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  -webkit-transform: translate3d(10px, 10px, 0);
          transform: translate3d(10px, 10px, 0);
  -webkit-transition: opacity 0.15s linear, -webkit-transform 0.15s linear;
  transition: opacity 0.15s linear, -webkit-transform 0.15s linear;
  transition: transform 0.15s linear, opacity 0.15s linear;
  transition: transform 0.15s linear, opacity 0.15s linear, -webkit-transform 0.15s linear;
  z-index: -1;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .team__item {
    width: calc(100vw - 62px);
  }
}
@media screen and (min-width: 480px) {
  .team__item {
    width: calc(480px - 48px);
  }
}
@media screen and (max-width: 767px) {
  .team__item + .team__item {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .team__item:hover::after {
    opacity: 1;
    -webkit-transform: translate3d(16px, 40px, 0);
            transform: translate3d(16px, 40px, 0);
  }
  .team__item:hover > .team__social {
    height: 40px;
    visibility: visible;
  }
  .team__item:hover > .team__social > .team__social-link:nth-child(1) {
    -webkit-animation: socialAnimation 150ms linear 650ms 1 normal forwards running;
            animation: socialAnimation 150ms linear 650ms 1 normal forwards running;
  }
  .team__item:hover > .team__social > .team__social-link:nth-child(2) {
    -webkit-animation: socialAnimation 150ms linear 500ms 1 normal forwards running;
            animation: socialAnimation 150ms linear 500ms 1 normal forwards running;
  }
  .team__item:hover > .team__social > .team__social-link:nth-child(3) {
    -webkit-animation: socialAnimation 150ms linear 350ms 1 normal forwards running;
            animation: socialAnimation 150ms linear 350ms 1 normal forwards running;
  }
  .team__item:hover > .team__social > .team__social-link:nth-child(4) {
    -webkit-animation: socialAnimation 150ms linear 200ms 1 normal forwards running;
            animation: socialAnimation 150ms linear 200ms 1 normal forwards running;
  }
}

.team__photo {
  width: 83px;
}
@media screen and (min-width: 768px) {
  .team__photo {
    width: 112px;
  }
}

.teamate__review {
  padding: 12px;
  background-color: var(--background-color);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .teamate__name {
    max-width: 180px;
  }
}

.teamate__position {
  margin-top: 12px;
  margin-bottom: 12px;
}

.team__card-button {
  font: var(--fa-font-solid);
  text-rendering: auto;
  -ms-touch-action: none;
      touch-action: none;
  background-color: transparent;
  border-radius: 50%;
  display: none;
  height: 32px;
  line-height: 32px;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0.15em;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  width: 32px;
  border: none;
  outline: none;
}
.team__card-button::before {
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  color: rgba(66, 66, 66, 0.87);
  display: block;
  font-size: 18px;
  margin: auto;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.team__card-button:hover, .team__card-button:focus {
  background-color: var(--card-button-hover);
}
@media screen and (max-width: 1024px) {
  .team__card-button {
    display: block;
  }
}

.team__social {
  position: absolute;
  bottom: -40px;
  right: -16px;
  text-align: right;
  letter-spacing: 0px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__social-link {
  font-family: "Font Awesome 6 Brands";
  text-rendering: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 52px;
  letter-spacing: 0;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.team__social-link:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
.team__social-link::before {
  background-color: #ffd740;
  bottom: 0;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform 0.15s linear;
  transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear;
  transition: transform 0.15s linear, -webkit-transform 0.15s linear;
  width: 100%;
}
.team__social-link:nth-child(1)::after {
  content: "\f409";
}
.team__social-link:nth-child(2)::after {
  content: "\f2c6";
}
.team__social-link:nth-child(3)::after {
  content: "\f232";
}
.team__social-link:nth-child(4)::after {
  content: "\f39f";
}
.team__social-link:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}
.team__social-link:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.3);
}

.hero--services {
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/services/hero-services-480x180.webp);
  background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/services/hero-services-480x180.webp);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero--services {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/services/hero-services-960x360.webp);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/services/hero-services-960x360.webp);
  }
}
@media screen and (min-width: 481px) {
  .hero--services {
    height: 280px;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/services/hero-services-768x280.webp);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/services/hero-services-768x280.webp);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero--services {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/services/hero-services-1536x560.webp);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/services/hero-services-1536x560.webp);
  }
}
@media screen and (min-width: 769px) {
  .hero--services {
    height: 400px;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/services/hero-services-1600x400.webp);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/services/hero-services-1600x400.webp);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero--services {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/services/hero-services-1600x400.webp);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/services/hero-services-1600x400.webp);
  }
}

@media screen and (min-width: 768px) {
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .services {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #075aae;
  padding: 35px 20px 20px;
  background-color: transparent;
  background-image: linear-gradient(140deg, #075aae 67%, #ffffff 0%);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 767px) {
  .services__item + .services__item {
    margin-top: 45px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .services__item {
    -ms-flex-preferred-size: calc((100% - 20px) / 2);
        flex-basis: calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .services__item {
    max-width: calc((100% - 40px) / 3);
  }
}

.service__button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__img {
  width: 70%;
  border-radius: 50%;
}

.hero--gallery {
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/gallery/hero-video-480x180.webp);
  background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/gallery/hero-video-480x180.webp);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero--gallery {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/gallery/hero-video-960x360.webp);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/gallery/hero-video-960x360.webp);
  }
}
@media screen and (min-width: 481px) {
  .hero--gallery {
    height: 280px;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/gallery/hero-video-768x280.webp);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/gallery/hero-video-768x280.webp);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero--gallery {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/gallery/hero-video-1536x560.webp);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/gallery/hero-video-1536x560.webp);
  }
}
@media screen and (min-width: 769px) {
  .hero--gallery {
    height: 400px;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/gallery/hero-video-1600x400.webp);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/gallery/hero-video-1600x400.webp);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero--gallery {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/gallery/hero-video-1600x400.webp);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/gallery/hero-video-1600x400.webp);
  }
}

.footer {
  background-color: var(--footer-background-color);
}

.footer__moto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.moto {
  position: relative;
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  font-weight: 400;
  margin-top: 0px;
  text-align: left;
  padding-top: 20px;
}

.media__title {
  position: relative;
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  font-weight: 400;
  padding-top: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.media__title::before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  display: block;
  width: 100px;
  height: 1px;
  background-color: var(--offers-decorate-line);
}

.media__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.facebook {
  fill: white;
  margin-left: 10px;
}

.hero-contacts {
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/contacts/hero-contact2-480x180.webp);
  background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/contacts/hero-contact2-480x180.webp);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-contacts {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/contacts/hero-contact2-960x360.webp);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/contacts/hero-contact2-960x360.webp);
  }
}
@media screen and (min-width: 481px) {
  .hero-contacts {
    height: 280px;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/contacts/hero-contact2-768x280.webp);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/contacts/hero-contact2-768x280.webp);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero-contacts {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/contacts/hero-contact2-1536x560.webp);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/contacts/hero-contact2-1536x560.webp);
  }
}
@media screen and (min-width: 769px) {
  .hero-contacts {
    height: 400px;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/contacts/hero-contact2-1600x400.webp);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/contacts/hero-contact2-1600x400.webp);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero-contacts {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/contacts/hero-contact2-1600x400.webp);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/contacts/hero-contact2-1600x400.webp);
  }
}/*# sourceMappingURL=main.css.map */