:root {
  --main-text-color: #000000;
  --secondary-text-color: #ffffff;
  --background-blue: rgb(7, 90, 174);
  --logo-accent: #d3e52f;
  --button-hover-color: #067ae0;
  --offers-decorate-line: rgba(255, 255, 255, 0.47);
  --section-background-color: #f3f8fb;
  --footer-background-color: #075aaf;
  --accent-color: #2196f3;
  --primary-btn-hover-color: #188ce8;
  --background-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --button-background-color: #f5f4fa;
  --gallery-border-color: #eeeeee;
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --social-color: #afb1b8;
  --footer-social: rgba(255, 255, 255, 0.1);
  --specialization-bkg: rgba(47, 48, 58, 0.8);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --galery-overlay: rgba(33, 150, 243, 0.9);
  --modal-form-border-color: rgba(33, 33, 33, 0.2);
  --input-border-active-color: rgba(33, 150, 243, 1);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* yeseva-one-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/yeseva-one-v20-latin_cyrillic-ext_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/yeseva-one-v20-latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/yeseva-one-v20-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/yeseva-one-v20-latin_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/yeseva-one-v20-latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../fonts/yeseva-one-v20-latin_cyrillic-ext_cyrillic-regular.svg#YesevaOne") format("svg");
  /* Legacy iOS */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v24-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v24-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v24-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v24-latin_cyrillic-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
body {
  color: var(--main-text-color);
  background-color: var(--background-color);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list, .offers, .menu, .social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link, .menu__link, .logo, .button-link {
  display: inline-block;
  text-decoration: none;
  padding: 15px 0;
  color: inherit;
  margin: 0;
}

.container, .header__container {
  padding: 0 15px;
  margin: 0 auto;
  width: 480px;
}
@media screen and (max-width: 480px) {
  .container, .header__container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container, .header__container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container, .header__container {
    width: 1200px;
  }
}

.section {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: var(--background-color);
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-text {
  color: var(--main-text-color);
  margin-bottom: 45px;
}
@media screen and (min-width: 1200px) {
  .section-text {
    margin-bottom: 10px;
  }
}

.section-text--white {
  color: var(--secondary-text-color);
}

.section-title {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--primary-text-color);
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: setLineHeight(42px, 36px);
    margin-bottom: 50px;
  }
}

.button-link {
  padding: 15px 10px;
  min-width: 160px;
  min-height: 50px;
  background-color: var(--background-blue);
  color: var(--secondary-text-color);
  text-align: center;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.button-link + .button-link {
  margin-left: 10px;
}
.button-link:hover, .button-link:focus {
  background-color: var(--button-hover-color);
  color: var(--secondary-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-link--white {
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  padding: 16px 0;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
    padding: 14px 0;
  }
}

.logo--footer {
  color: var(--secondary-text-color);
  font-size: 22px;
  padding: 0;
}
.logo__wrap {
  margin-left: 5px;
}
@media screen and (min-width: 768px) {
  .logo__wrap {
    margin-left: 10px;
  }
}
.logo__text--accent {
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.header__logo {
  color: var(--secondary-text-color);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 60px;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--social-color);
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.social__link:hover, .social__link:focus {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

.social__icon--viber {
  fill: #7360f2;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.social__link:hover .social__icon--viber {
  fill: white;
}

.social__icon--telegram {
  fill: #229ed9;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.social__link:hover .social__icon--telegram {
  fill: white;
}

.social__icon--whatsapp {
  fill: #28d146;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.social__link:hover .social__icon--whatsapp {
  fill: white;
}

.social__icon--messenger {
  fill: #a334fa;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.social__link:hover .social__icon--messenger {
  fill: white;
}

.footer__social-list {
  padding: 0;
}

.button-link--tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  margin-bottom: 20px;
}

.button-link__icon {
  fill: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid #ececec;
  background-color: var(--background-color);
  height: 90px;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .header {
    height: 90px;
  }
}
.header__container {
  position: relative;
  background-color: var(--background-color);
}
@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__overlay {
  z-index: 20;
  background-color: var(--background-color);
}
@media screen and (max-width: 767px) {
  .header__overlay {
    position: relative;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100vw;
  }
}
@media screen and (min-width: 768px) {
  .header__overlay {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .header__overlay > .container, .header__overlay > .header__container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .menu--container {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background-color: var(--background-color);
    padding: 0 15px;
    width: 100%;
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
    -webkit-transition: -webkit-transform 500ms var(--timing-function);
    transition: -webkit-transform 500ms var(--timing-function);
    transition: transform 500ms var(--timing-function);
    transition: transform 500ms var(--timing-function), -webkit-transform 500ms var(--timing-function);
  }
  .menu--container.is-open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 63px;
  }
}

@media screen and (max-width: 767px) {
  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    border-bottom: 1px solid #ececec;
    border-bottom-width: 80%;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .menu__item {
    position: relative;
    margin-left: 20px;
  }
  .menu__item:first-child {
    margin-left: 0;
  }
}

.menu__link {
  color: var(--primary-text-color);
  padding: 32px 0;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.menu--container.is-open .menu__link {
  display: block;
  width: 100%;
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
}
.hamburger {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 30;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.hamburger:hover, .hamburger:focus {
  color: var(--accent-color);
}
.hamburger .hamburger__icon-close {
  opacity: 0;
}
.hamburger.is-open .hamburger__icon-menu {
  opacity: 0;
}
.hamburger.is-open .hamburger__icon-close {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger__icon {
  fill: currentColor;
}

.hamburger__icon-close {
  opacity: 0;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.hamburger__icon-menu {
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.hero {
  padding-top: 40px;
  padding-bottom: 40px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  background-color: var(--footer-background-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 140px;
    padding-bottom: 140px;
    height: 600px;
    max-width: 1600px;
  }
}

.hero-title {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2333333333;
  color: var(--secondary-text-color);
  text-align: left;
}

.hero--main {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/hero-main/hero-main-480x400-min.jpg);
  background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/hero-main/hero-main-480x400-min.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero--main {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/hero-main/hero-main-960x800-min.jpg);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/hero-main/hero-main-960x800-min.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero--main {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/hero-main/hero-main-768x400-min.jpg);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/hero-main/hero-main-768x400-min.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero--main {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/hero-main/hero-main-1536x800-min.jpg);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/hero-main/hero-main-1536x800-min.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero--main {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/hero-main/hero-main-1600x600-min.jpg);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/hero-main/hero-main-1600x600-min.jpg);
  }
}

.container--hero-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.buttons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.offers__item {
  padding: 60px 40px;
  background-color: var(--background-blue);
}

.offers__header {
  position: relative;
  font-size: 25px;
  line-height: 1;
  font-weight: 400;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
  padding-top: 30px;
}
.offers__header::before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  display: block;
  width: 50px;
  height: 1px;
  background-color: var(--offers-decorate-line);
}

.button-link--offers {
  border-style: solid;
  border-width: 1px;
  border-color: var(--secondary-text-color);
  color: var(--secondary-text-color);
  margin-top: 30px;
}

.section--responses {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 480px;
  height: 118vw;
  min-height: 470px;
  padding: 70px 40px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(7, 90, 174, 0.7)), to(rgba(7, 90, 174, 0.7))), url(../images/responses/doorbell-480-min.jpg);
  background-image: linear-gradient(90deg, rgba(7, 90, 174, 0.7), rgba(7, 90, 174, 0.7)), url(../images/responses/doorbell-480-min.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section--responses {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(7, 90, 174, 0.7)), to(rgba(7, 90, 174, 0.7))), url(../images/responses/doorbell-480-min.jpg);
    background-image: linear-gradient(90deg, rgba(7, 90, 174, 0.7), rgba(7, 90, 174, 0.7)), url(../images/responses/doorbell-480-min.jpg);
  }
}
@media screen and (min-width: 481px) {
  .section--responses {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/hero-main/hero-main-768x400-min.jpg);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/hero-main/hero-main-768x400-min.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .section--responses {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/hero-main/hero-main-1536x800-min.jpg);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/hero-main/hero-main-1536x800-min.jpg);
  }
}
@media screen and (min-width: 769px) {
  .section--responses {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(7, 90, 174, 0)), to(#075aae)), url(../images/hero-main/hero-main-1600x600-min.jpg);
    background-image: linear-gradient(270deg, rgba(7, 90, 174, 0) 0%, #075aae 100%), url(../images/hero-main/hero-main-1600x600-min.jpg);
  }
}

.container--responses {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-title--responses {
  color: var(--secondary-text-color);
  text-align: left;
  margin-bottom: 40px;
}

.responses-text {
  font-size: 16px;
  line-height: 1.5625;
  color: var(--secondary-text-color);
}

.section-text--responses {
  position: relative;
  color: var(--secondary-text-color);
  padding-top: 30px;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 12.7px;
  line-height: 1;
}
.section-text--responses::before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  display: block;
  width: 50px;
  height: 1px;
  background-color: var(--offers-decorate-line);
}

.section--examples {
  margin-top: 45px;
  background-color: var(--section-background-color);
}

.section-title--examples {
  text-align: left;
}

.button-link--examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 300px;
}

.examples-img {
  width: 100vw;
}

.image-link {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0%;
}

.button-link__icon-table {
  stroke: white;
  margin-right: 10px;
}

.footer {
  background-color: var(--footer-background-color);
}

.footer__moto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.moto {
  color: var(--secondary-text-color);
  font-size: 22px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: left;
}

.media__title {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.media__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facebook {
  fill: white;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */