.social {
  @extend .list;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
}
.social__item {
  & + & {
    margin-left: 10px;
  }
}
.social__link {
  display: inline-flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  //   border-radius: 50%;
  border: 1px solid var(--social-color);

  @include customTransition(color, background-color);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--background-color);
    cursor: pointer;
  }
}
.social__icon--viber {
  fill: #7360f2;
}
.social__icon--telegram {
  fill: #229ed9;
}
.social__icon--whatsapp {
  fill: #28d146;
}
.social__icon--messenger {
  fill: #a334fa;
}
.social__icon {
  //   fill: currentColor;
}
.footer__social-list {
  padding: 0;
}
.button-link--tel {
  margin-bottom: 20px;
}
